<!--{{diagnostic}}-->
<div>
    <table class="table">
        <tr>
            <th>{{ 'ID' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
        </tr>
        <tr appHighlight *ngFor="let user of people;  trackBy:trackByUser" class="userRow" [routerLink]="['/user', user.id]">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>
<div *ngIf="!people">
    {{errorMessage}}
</div>