header {
    position: relative;
    height: 83px;
    background-color: #C3002F;
    h1 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        color: white;
    }
}