nav { 
    padding: 10px 5px;
    background-color: #DD0031;
    .navbar-brand {
        padding: 0;    
        margin-left: 5px;
        margin-right: 10px;
        .brand {
            height: 38px;
            cursor: pointer;
        }
    }
}
